        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f8f8;
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type ="password"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="button"] {
            background: #081f2c;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="button"]:hover {
            background-color: #175b81;
        }

        .image {
            display: block;
            position: top;
            width: 20%;
            height: 70%;
            margin: auto;
            padding: 20px;
        }

          #result {
            margin-top: 2rem;
            /*background-color: #3a4453;*/
            color: #000;
            font-size: 20px;
            position: static;
            margin-left: 200px;
            margin-right: 20px;
            padding: 20px;
        }

          .container {
            margin-left: 190px;

        }
        
        

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 200px;
            height: 100vh;
            background-color: #081f2c;
            color: #fff;
            padding: 20px 0;
        }

        .navbar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .navbar li {
            margin-bottom: 10px;
            text-align: left;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
        }

        li a.active {
            background-color: #04AA6D;
            color: white;
        }

        li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

           .dropdown-menu {
          display: none;
        }

        .dropdown.active .dropdown-menu {
          display: block;
          margin-left: 20px;
        }